html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}
.about {
  height: 100vh;
  background-color: blue;
  flex-direction: row;
  align-items: center;
  display: flex;
}
.cards {
  height: 3rem;
  background-color: indianred;
  height: 90%;
  width: 25%;
  justify-content: space-around;
  margin: 0 auto;
}
