html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}
.about {
  background-color: blue;
  flex-direction: row;
  align-items: center;
  display: flex;
  justify-content: space-between;
  height: 100%;
}
.cards {
  background-color: indianred;
  height: 90%;
  width: 25%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.about-img {
  height: 25%;
}
