html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  background-color: #0c64e8;
}
.about {
  flex-direction: row;
  align-items: center;
  display: flex;
  justify-content: space-between;
  height: 94%;
}
.cards {
  height: 90%;
  width: 25%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: red;
  border-radius: 12px;
}
.about-img {
  height: 25%;
  box-shadow: 10px 10px 10px;
}
.header {
  text-align: center;
  font-size: 4rem;
  font-family: "Abyssinica SIL", serif;
}
.caption {
  font-family: "Abyssinica SIL", serif;
  font-size: 1.5rem;
  text-align: center;
  background-color: red;
}
